
{% twig_js name="sidebar" %}
<script>accordeon();</script>
<a href="http://planit.dev/app_dev.php/home/3"><div id="logo">PLAN <span class="blue">IT</span></div></a>
<div id="search">
    <form>
      <input name="search" type="search" class="search" placeholder="Rechercher">
      <input type="submit" value="Find" class="go">
    </form>
</div>
<div class="user">
    <img  src="/images/{{ user.image }}"/>
    <span class="name">{{user.name}} {{ user.surname }}</span> 
    <span class="counter-event">{{ user.events|length }} événements cours</span>
</div>
{% block navigation %}
    <ul id="menu">
        <li class="events"><a href="/app_dev.php/home/{{ user.id }}">Evénements</a></li>
        <ul class="events" id="accordion">
            {% for event in user.events %}
                <li class="active event">{{event.name}}</li>
                <ul class="modules">
                    <li><a href="/app_dev.php/event/{{event.id}}">Général</a></li>
                    {% for module in event.modules %}
                        <li><a href="/app_dev.php/event/{{event.id}}/module/{{module.id}}">{{module.name}}</a></li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </ul>
        <li class="account"><a href="#"> Mon compte </a></li>
        <li class="last help"><a href="#"> Aide </a></li>
    </ul>
{% endblock %}



