{% twig_js name="events" %}
{% for event in user_events %}
	<div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
		<a href="/app_dev.php/event/{{event.id}}" class="event_button">
			<div class="event-thumbnail">
				<div class="head">
					<h2>{{event.name}}</h2>
					{# <span class="date"> {{ event.begin_date}}</span> #}
					<span class="date"> J-5 </span>
				</div>
				<div class="content">
					<div class="image-cropper">
		    		<img src="/images/event/events_pictures/{{event.image}}" /> 
		    		</div>
		    		<p class="description">{{ event.description }}</p>
				</div>
			</div>
		</a>
	</div>
{% endfor %}
<div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
	<div class="add event-thumbnail" data-toggle="modal" data-target="#basicModal">
		<p> + </p>
	</div>
</div>
