{% twig_js name="list" %}
{% for item in module.items %}
	{% if not item.checked %}
		<li>
			<div class="row">
				<div class="col-md-12 todo">
					{{item.content}} <input type="checkbox" id="checkbox-{{item.id}}" name="todo1" onClick="changeChecked({{item.id}})"> 
				</div>
			</div>			
		</li>
	{% endif %}
{% endfor %}

{% for item in module.items %}
	{% if item.checked %} 
		<li>
			<div class="row">
				<div class="col-md-12 todo checked">
					{{item.content}} <input type="checkbox" id="checkbox-{{item.id}}" checked name="todo1" onClick="changeChecked({{item.id}})"> 
				</div>
			</div>			
		</li>
	{% endif %}
{% endfor %}