<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Plan It{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/selectize.css') }}">
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
            <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
            {% stylesheets 
            '@PlanItUserBundle/Resources/public/css/*.scss'
            filter="compass" %}
                  <link rel="stylesheet" media="screen" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body onload="getUser({{user_id}});">
        {% block body %} 
            {% block header %}
                <header>
                    <!--Template Header -->
                </header>
            {% endblock %}

            {% block sidebar %}
                <div id="sidebar">
                
                </div>
            {% endblock %}

            {% block content %}
            {% endblock %}

            {% block footer %}
            {% endblock %}

        {% endblock %}
        {% block javascripts %}
            {% javascripts
                '%kernel.root_dir%/../vendor/jms/twig-js/twig.js'
            %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}

            <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
            <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
            <script src="//code.highcharts.com/highcharts.js"></script>
            <script src="//code.highcharts.com/modules/exporting.js"></script>
            {% javascripts "../app/Resources/views/templates/header.html.twig"
            "../app/Resources/views/templates/sidebar.html.twig"
               filter="twig_js, ?yui_js" %}
                <script language="javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
          
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('js/selectize.js') }}"></script>
            {% javascripts
                '%kernel.root_dir%/Resources/js/*.js'
            %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
