<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Plan It{% endblock %}</title>
        {% block stylesheets %}
    
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %} 
            {% block header %}
                <header>
                    <div class="user">
                        <img src="{{ asset(['images/', user.image]|join) }}" />
                        <span class="name">{{user.name}} {{ user.surname }}</span> 
                    </div>
                </header>
            {% endblock %}

            {% block sidebar %}
                <div id="sidebar">
                <div id="logo">PLAN <span class="blue">IT</span></div>
                <div id="search">
                    <form>
                      <input name="search" type="search" class="search" placeholder="Rechercher">
                      <input type="submit" value="Find" class="go">
                    </form>
                </div>
                <div class="user">
                    <img src="{{ asset(['images/', user.image]|join) }}" />
                    <span class="name">{{user.name}} {{ user.surname }}</span> 
                    <span class="counter-event">3 événements cours {# {{ name }} #}</span>
                </div>
                {% block navigation %}
                    <ul id="menu">
                        <li>Evénements</li>
                        <ul class="events">
                            <li class="active">Anniversaire Florent</li>
                            <ul class="modules">
                                <li><a href="#">Général</a></li>
                                <li><a href="#">Gestion des invités</a></li>
                                <li><a href="#">Gestion du budget</a></li>
                            </ul>
                            <li>Mariage Aurélie</li>
                            <li>Anniversaire papa</li>
                        </ul>
                        <li>Mon compte</li>
                        <li class="last">Aide</li>
                    </ul>
                {% endblock %}
                </div>
            {% endblock %}

            {% block content %}
            {% endblock %}

            {% block footer %}
            {% endblock %}

        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
