<div class="modal fade addItemModal" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <button id="close-modal" type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title" id="myModalLabel">{{'add_task'|trans}}</h4>
            </div>
            <div class="modal-body">
                <form id="form-post-guest" action="/app_dev.php/api/items/{{module_id}}" method="post" {{ form_enctype(form) }} class="blogger">
                    {{ form_widget(form) }}

			    <p>
			        <input type="submit" value="{{'add'|trans}}">
			    </p>
                </form>
            </div>
        </div>
  </div>
</div>

