{% extends 'PlanItBudgetBundle::layout.html.twig' %}

{% block content %}
<div class="container">
	<div class="row" id="title">
        <div class="col-md-12" > <h1>Budget</h1> </div>
    </div>

	<div class="row" id="separator">
		<div class="col-md-12"> </div>
	</div>

	<div class="row buttons">
		<div class="col-md-3 col-sm-3 col-xs-12 bt_budget"><button id="bouton_depense">Ajouter une dépense</button></div>
		<div class="col-md-3 col-sm-3 col-xs-12 bt_budget"><button id="bouton_ajout">Ajouter un apport</button></div>
		<div class="col-md-3 col-sm-3 col-xs-12 bt_budget"><a href="/app_dev.php/pdf/{{module_id}}"><button>Imprimer la liste des courses</button></a></div>
	</div>
	
	<section>			
		<div class="container_onglet">			
			<section>
				<div class="tabs tabs-style-topline">
					<div class="row">
						<nav class="col-md-12">
							<ul id="tab">
								<!--Template tab.html.twig -->
							</ul>
						</nav>
					</div>

					<div class="content-wrap" id="tab_content">						
						 <!--Template tab_content.html.twig -->
					</div><!-- /content -->
					{{ render(controller('PlanItBudgetBundle:TypeExpense:form', { 'module_id' : module_id } ))}}
					{{ render(controller('PlanItBudgetBundle:Inflow:form', { 'module_id' : module_id } ))}}
					{{ render(controller('PlanItBudgetBundle:Expense:form', { 'module_id' : module_id } ))}}

				</div><!-- /tabs -->
			</section>
			
		</div><!-- /container -->	

	</section>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }} <!-- pour ne pas effacer les autres feuilles de style -->
    <script> //getEvent({{event_id}}); </script>
    <script> getModule({{module_id}}); </script>
   	<script>
		(function() {
			[].slice.call( document.querySelectorAll( '.tabs' ) ).forEach( function( el ) {
				new CBPFWTabs( el );
			});
		})();
	</script>
{% endblock %}
