{% extends 'PlanItBudgetBundle::layout.html.twig' %}

{% block content %}
<div class="container">
	<div class="row" id="title">
        <div class="col-md-10" > <h1>{{'budget'|trans}}</h1> </div>
        <div class="col-md-2 pull-right bt_budget">
            <button data-toggle="modal" data-target=".updateModuleModal" data-type="">{{'update_module'|trans}}</button>
        </div>
    </div>

	<div class="row" id="separator">
		<div class="col-md-12"> </div>
	</div>
	{{ render(controller('PlanItBudgetBundle:Page:updatemodule', { 'module_id' : module.id } ))}}
	{% for message in app.session.flashbag.get('errors') %}
        <p>{{ message }}</p>
    {% endfor %}

     <div class="modal fade modal-ok" id="okModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
	    <div class="modal-dialog">
	        <div class="modal-content">
	        	<img src="/images/modal-ok.png"/>
                Modifications enregistrées	
	        </div>
	  </div>
	</div>

	<section>			
		<div class="container_onglet">			
			<section>
				<div class="tabs tabs-style-topline">
					<div class="row">
						<nav class="col-md-12">
							<ul class="tab">
								<li><a class="first_onglet" id="tab-general" href="#section-topline-general" onclick="document.getElementById('expense-menu').style.display='none';"><span>{{'recap'|trans}}</span></a></li>
								<li id="tab-apports" class="pull-right"><a href="#section-topline-apports" onclick="document.getElementById('expense-menu').style.display='none';"><span>{{'inflows'|trans}}</span></a></li>
								<li id="tab-depenses"><a href="#section-topline-depenses" class="last_onglet" onclick="document.getElementById('expense-menu').style.display='block';"><span>{{'depenses'|trans}}</span></a></li>			
								

								<div class="modal fade deleteTypeExpenseModal validate" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
								    <div class="modal-dialog">
								        <div class="modal-content">
								            <div class="modal-header">
								            <h4 class="modal-title" id="myModalLabel_deleteTypeExpense">{{'delete_typeexpense_message'|trans}}</h4>
								            </div>
								            <div class="modal-body row">
								                <button id="delete_confirm_typeexpense" class="btn btn-default col-md-6"> {{'yes'|trans}} </button>
								                <button id="delete_cancel" class="btn btn-default" class ="col-md-6" data-dismiss="modal"> {{'no'|trans}} </button>

								            </div>
								        </div>
								  </div>
								</div>
							</ul>
						</nav>						
					</div>
					<!-- sous menu depenses-->
					<div class="row sous-menu" id="expense-menu" style="display:none;">
							<ul class="col-md-12 sous-menu-depense">
								{% for type_expense in module.typesexpense %}
								<li id="tab-{{type_expense.name|lower}}"><a href="#section-topline-{{type_expense.id}}"><span>{{type_expense.name}}</span></a></li>
								{% endfor %}								
							</ul>
					</div>

					<div class="content-wrap" id="tab_content">						
						{# GENERAL #}
						<section id="section-topline-general">
							<div class="section-topline">
								<div class="col-md-4"> 
									<div class="pie_chart" id="pie_chart_depenses"></div>
								</div>

								<div class="col-md-4"> 
									<div class="pie_chart" id="pie_chart_apports"></div>		
								</div>

								<div class="col-md-4" id="infos"> 
									<div class="info_dte info_color" id="balance">
										<p class="benef" data-placement="top" data-original-title="Apports (hors apport personnel) - Dépenses"> {{'benefices'|trans}} </br> <span >{{infos.balance}} €</span> </p>
									</div>							
									<div class="info_dte">
										<img src="/images/budget/info_dte_limite.png" /> 
										<p> {{'max_budget'|trans}}</br> <span>{{infos.budget}} €</span> </p>
									</div>
								</div>
							</div>
						</section>

						<section id="section-topline-apports">							
							<div class="col-md-3 add-inflow"><button data-toggle="modal" data-target=".addInflowModal">{{'add_inflow'|trans}}</button></div>		
							<div class="responsive-table-line">
								<table class="table table-condensed table-body-center" >
									<thead>
										<tr>
											<th>{{'label'|trans}}</th>
											<th>{{'amount'|trans}}</th>											
											<th>{{'delete'|trans}}</th>
										</tr>
									</thead>									
									
									<tbody>
										{% for inflow in module.inflows %}

											<tr id="inflow-{{inflow.id}}">
												<td data-title="{{'label'|trans}} *">

													<input type="text" id="name-inflow-{{inflow.id}}" onblur="updateInflow({{inflow.id}})" value="{{inflow.name}}">
												</td>
												<td data-title="{{'amount'|trans}} *">
													<input type="text" id="amount-inflow-{{inflow.id}}" onblur="updateInflow({{inflow.id}})" value="{{inflow.amount}}">
												</td>
												<td data-title="{{'delete'|trans}}" data-toggle="modal" data-target=".deleteInflowModal" data-id="{{inflow.id}}" data-name="{{inflow.name}}"><div class="delete-inflow"></div></td>
											</tr>
										{% endfor %}

										{% if infos.guestsInflow is defined %}
											<tr class="apport-base">
												<td data-title="{{'label'|trans}}">
													<span> Inscriptions </span>
												</td>
												<td data-title="{{'amount'|trans}}">
													<span> {{infos.guestsInflow}}</span>
												</td>
												<td><!-- <div class="delete-inflow"></div> --></td>
											</tr>
										{% endif %}

										{% if module.base > 0 %}
											<tr class="apport-base">
												<td data-title="{{'label'|trans}}">
													<span> Apport personnel </span>
												</td>
												<td data-title="{{'amount'|trans}}">
													<span> {{module.base}}</span>
												</td>
												<td><!-- <div class="delete-inflow"></div> --></td>
											</tr>
										{% endif %}					
									</tbody>
								</table>
								<span id="legend">* {{'changeable_data'|trans}}</span>								
							</div>
						</section>

						{# TYPE ITEMS #}
							<section  class="stabs" id="section-topline-depenses">
								
								<!--	<p>Vous n'avez pas encore créé de catégorie de dépense de dépense</p>  -->
								<div class="sous-content-wrap">						
								{% for type_expense in module.typesexpense %}							 	
									<section id="section-topline-{{type_expense.id}}">	
										<!--bt ajout cat depense-->
										<div class="col-md-3 add_typeexpense"><button data-toggle="modal" data-target=".addTypeExpenseModal">{{'add_typeexpense'|trans}}</button></div>
										<!-- bt ajout depense-->
										<div class="col-md-3 add-expense"><button data-toggle="modal" data-type="{{type_expense.id}}" data-target=".addExpenseModal">{{'add_expense'|trans}}</button></div>
										{% if type_expense.expenses is not empty %}	
											<div class="responsive-table-line section-topline">
												<table class="table table-condensed table-body-center">
													<thead>
														<tr>
															<th>{{'item'|trans}} *</th>
															<th>{{'quantity'|trans}} *</th>
															<th>{{'stock'|trans}} *</th>
															<th>{{'to_buy'|trans}}</th>
															<th>{{'unit_price'|trans}} *</th>
															<th>{{'total'|trans}}</th>
															<th>{{'consumed'|trans}} *</th>
															<th>{{'bought'|trans}} *</th>								
															<th>{{'delete'|trans}}</th>
														</tr>
													</thead>
													
													
													<tbody>
														{% for expense in type_expense.expenses %}
															<tr id="expense-{{expense.id}}">
																<td data-title="{{'item'|trans}} *">
																	<input type="text" class="input_tab article" id="name-expense-{{expense.id}}" onblur="updateExpense({{expense.id}})" value="{{expense.name}}">
																</td>
																<td data-title="{{'quantity'|trans}} *">
																	<input type="text" class="input_tab" id="quantity-expense-{{expense.id}}" onblur="updateExpense({{expense.id}})" value="{{expense.quantity}}"> {{expense.unit}}
																</td>
																<td data-title="{{'stock'|trans}} *">
																	<input type="text" class="input_tab" id="stock-expense-{{expense.id}}" onblur="updateExpense({{expense.id}})" value="{{expense.stock}}">
																</td>
																<td data-title="{{'to_buy'|trans}}">
																	{{expense.quantity - expense.stock}}
																</td>
																<td data-title="{{'unit_price'|trans}} *">
																	<input type="text" class="input_tab" id="price-expense-{{expense.id}}" onblur="updateExpense({{expense.id}})" value="{{expense.price}}">
																</td>
																<td data-title="{{'total'|trans}}">
																	{{expense.price * (expense.quantity - expense.stock)}} €
																</td>
																<td data-title="{{'consumed'|trans}} *">
																	<input type="text" class="input_tab" id="consummate-expense-{{expense.id}}" onblur="updateExpense({{expense.id}})" value="{{expense.consummate}}">
																</td>
																<td data-title="{{'bought'|trans}} *">
																	<input id="bought-expense-{{expense.id}}" onclick="updateExpense({{expense.id}})" type="checkbox" {% if expense.bought == true %} checked {%endif%}/>
																</td>
																<td data-title="{{'delete'|trans}}" data-toggle="modal" data-target=".deleteExpenseModal" data-id="{{expense.id}}" data-name="{{expense.name}}"><div class="delete-expense"> </div></td>
															</tr>
														{% endfor %}						
													</tbody>
												</table>
												<span id="legend">* {{'changeable_data'|trans}}</span>							
											</div>
										{% else %}
											<p> Pas de dépense bébé </p>
										{% endif %}
									</section>
								{% endfor %}
							</div>
							</section>

						
						<div class="modal fade deleteExpenseModal validate" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
						    <div class="modal-dialog">
						        <div class="modal-content">
						            <div class="modal-header">
						            	<button id="close-modal" type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
						            	<h4 class="modal-title" id="myModalLabel_deleteExpense"></h4>
						            </div>
						            <div class="modal-body row">
						                <button id="delete_confirm_expense" class="btn btn-default col-md-6"> {{'yes'|trans}} </button>
						                <button id="delete_cancel" class="btn btn-default" class ="col-md-6" data-dismiss="modal"> {{'no'|trans}} </button>

						            </div>
						        </div>
						  </div>
						</div>

						<div class="modal fade deleteInflowModal validate" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
						    <div class="modal-dialog">
						        <div class="modal-content">
						            <div class="modal-header">
						            <button id="close-modal" type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
						            <h4 class="modal-title" id="myModalLabel_deleteInflow"></h4>
						            </div>
						            <div class="modal-body row">
						                <button id="delete_confirm_inflow" class="btn btn-default col-md-6"> {{'yes'|trans}} </button>
						                <button id="delete_cancel" class="btn btn-default" class ="col-md-6" data-dismiss="modal"> {{'no'|trans}} </button>

						            </div>
						        </div>
						  </div>
						</div>
					</div><!-- /content -->
					{{ render(controller('PlanItBudgetBundle:TypeExpense:form', { 'module_id' : module.id } ))}}
					{{ render(controller('PlanItBudgetBundle:Inflow:form', { 'module_id' : module.id } ))}}
					{{ render(controller('PlanItBudgetBundle:Expense:form', { 'module_id' : module.id } ))}}

				</div><!-- /tabs -->
			</section>
			
		</div><!-- /container -->	

	</section>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }} <!-- pour ne pas effacer les autres feuilles de style -->
    <script> //getEvent({{event_id}}); </script>

 <script>
		(function() {
			[].slice.call( document.querySelectorAll( '.tabs' ) ).forEach( function( el ) {
				new CBPFWTabs( el );
			});
		})();

		(function() {
			[].slice.call( document.querySelectorAll( '.tabs' ) ).forEach( function( el ) {
				new CBPFWSTabs( el );
			});
		})();

</script>
<script>budget();</script>
<script>getListInflow({{module.id}});</script>
<script>getListExpense({{module.id}});</script>
{% endblock %}
