{% twig_js name="tab_content" %}

{# GENERAL #}
<section id="section-topline-general">
	<div class="section-topline">
		<div class="col-md-4"> 
			<div class="pie_chart" id="pie_chart_depenses"></div>
			<div class="bt_budget"><button id="bouton_depense" data-toggle="modal" data-target=".addTypeExpenseModal" data-type="0" data-id="{{module.id}}">Ajouter une dépense</button></div>
		</div>

		<div class="col-md-4"> 
			<div class="pie_chart" id="pie_chart_apports"></div>
			<div class="bt_budget"><button id="bouton_ajout" data-toggle="modal" data-target=".addInflowModal" data-type="1" data-id="{{module.id}}">Ajouter un apport</button></div>
		</div>

		<div class="col-md-4"> 
			<div class="info_dte info_color" id="balance">
				<p> BALANCE </br> <span >{{balance}}€</span> </p>
			</div>							
			<div class="info_dte">
				<img src="/images/budget/info_dte_limite.png" /> 
				<p> BUDGET LIMITE</br> <span>{{max}} €</span> </p>
			</div>
		</div>
	</div>
</section>

{# TYPE ITEMS #}
{% for type_expense in module.types_expense %}
	<section  id="section-topline-{{type_expense.id}}">
		<div class="responsive-table-line section-topline">
			<table class="table table-bordered table-condensed table-body-center" >
				<thead>
					<tr>
						<th>Article *</th>
						<th>Quantité *</th>
						<th>En stock *</th>
						<th>A acheter</th>
						<th>Prix unitaire *</th>
						<th>Prix total</th>
						<th>Consommé *</th>
						<th>Acheté *</th>								
						<th>Supprimer</th>
					</tr>
				</thead>
				
				
				<tbody>
					{% for expense in type_expense.expenses %}
						<tr>
							<td data-title="Article">
								<input type="text" id="name-expense-{{expense.id}}" onblur="updateExpense({{expense.id}})" value="{{expense.name}}">
							</td>
							<td data-title="Quantité">
								<input type="text" id="quantity-expense-{{expense.id}}" onblur="updateExpense({{expense.id}})" value="{{expense.quantity}}">
							</td>
							<td data-title="En stock">
								<input type="text" id="stock-expense-{{expense.id}}" onblur="updateExpense({{expense.id}})" value="{{expense.stock}}">
							</td>
							<td data-title="A acheter">
								{{expense.quantity - expense.stock}}
							</td>
							<td data-title="Prix unitaire">
								<input type="text" id="price-expense-{{expense.id}}" onblur="updateExpense({{expense.id}})" value="{{expense.price}}">
							</td>
							<td data-title="Prix total">
								{{expense.price * (expense.quantity - expense.stock)}}
							</td>
							<td data-title="Consommé">
								<input type="text" id="consummate-expense-{{expense.id}}" onblur="updateExpense({{expense.id}})" value="{{expense.consummate}}">
							</td>
							<td data-title="Acheté">
								<input id="bought-expense-{{expense.id}}" onclick="updateExpense({{expense.id}})" type="checkbox" {% if expense.bought %} checked {%endif%}/>
							</td>
							<td class="delete-expense" data-toggle="modal" data-target=".deleteExpenseModal" data-id="{{expense.id}}" data-name="{{expense.name}}" data-title="Supprimer">X</td>
						</tr>
					{% endfor %}						
				</tbody>
			</table>
			<span id="legend"> * Données modifiables. Cliquez pour modifier.</span>
			<div class="col-md-2 pull-right add-expense"><button data-toggle="modal" data-type="{{type_expense.id}}" data-target=".addExpenseModal">Ajouter un article</button></div>
			
		</div>
	</section>

{% endfor %}
<section id="section-topline-apports">
	<div class="responsive-table-line">
		<table class="table table-bordered table-condensed table-body-center" >
			<thead>
				<tr>
					<th>Intitulé *</th>
					<th>Montant *</th>											
					<th>Supprimer</th>
				</tr>
			</thead>
			
			
			<tbody>
				{% for inflow in module.inflows %}
					<tr>
						<td data-title="Intitulé">
							<input type="text" id="name-inflow-{{inflow.id}}" onblur="updateInflow({{inflow.id}})" value="{{inflow.name}}">
						</td>
						<td data-title="Montant">
							<input type="text" id="amount-inflow-{{inflow.id}}" onblur="updateInflow({{inflow.id}})" value="{{inflow.amount}}">
						</td>
						<td class="delete-inflow" data-toggle="modal" data-target=".deleteInflowModal" data-id="{{inflow.id}}" data-name="{{inflow.name}}" data-title="Supprimer">X</td>
					</tr>
				{% endfor %}						
			</tbody>
		</table>
		<span id="legend"> * Données modifiables. Cliquez pour modifier.</span>
		<div class="col-md-2 pull-right add-expense"><button data-toggle="modal" data-target=".addInflowModal">Ajouter un apport</button></div>
		
	</div>
</section>
<div class="modal fade deleteExpenseModal validate" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel_deleteExpense"></h4>
            </div>
            <div class="modal-body row">
                <button id="delete_confirm_expense" class="btn btn-default col-md-6"> Oui </button>
                <button id="delete_cancel" class="btn btn-default" class ="col-md-6" data-dismiss="modal"> Non </button>

            </div>
        </div>
  </div>
</div>

<div class="modal fade deleteInflowModal validate" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel_deleteInflow"></h4>
            </div>
            <div class="modal-body row">
                <button id="delete_confirm_inflow" class="btn btn-default col-md-6"> Oui </button>
                <button id="delete_cancel" class="btn btn-default" class ="col-md-6" data-dismiss="modal"> Non </button>

            </div>
        </div>
  </div>
</div>

<script>
		(function() {
			[].slice.call( document.querySelectorAll( '.tabs' ) ).forEach( function( el ) {
				new CBPFWTabs( el );
			});
		})();

</script>
    <script>getListInflow({{module.id}});</script>
    <script>getListExpense({{module.id}});</script>
    <script>budget();</script>