{% twig_js name="typeitem_template" %}

{# GENERAL #}
<section id="section-topline-general">
	<div class="col-md-4"> 
		<div class="pie_chart" id="pie_chart_depenses"></div>
		<div class="bt_budget"><button id="bouton_depense" data-toggle="modal" data-target=".addTypeItemModal" data-type="0" data-id="{{module.id}}">Ajouter une dépense</button></div>
	</div>

	<div class="col-md-4"> 
		<div class="pie_chart" id="pie_chart_apports"></div>
		<div class="bt_budget"><button id="bouton_ajout" data-toggle="modal" data-target=".addTypeItemModal" data-type="1" data-id="{{module.id}}">Ajouter un apport</button></div>
	</div>

	<div class="col-md-4"> 
		<div class="info_dte info_color" id="balance">
			<p> BALANCE </br> <span >{{balance}}€</span> </p>
		</div>							
		<div class="info_dte">
			<img src="/images/budget/info_dte_limite.png" /> 
			<p> BUDGET LIMITE</br> <span>{{max}} €</span> </p>
		</div>
	</div>
</section>

{# TYPE ITEMS #}
{% for type_item in module.type_item %}
	<section id="section-topline-{{type_item.id}}">
		<div class="responsive-table-line">
			<table class="table table-bordered table-condensed table-body-center" >
				<thead>
					<tr>
						<th>Article *</th>
						{% if type_item.type == false %}
							<th>Quantité *</th>
							<th>En stock *</th>
							<th>A acheter</th>
							<th>Prix unitaire *</th>
							<th>Prix total</th>
							<th>Consommé *</th>
							<th>Acheté *</th>
						{% endif %}
						{% if type_item.type == true %}
							<th>Montant *</th>
						{% endif %}											
						<th>Supprimer</th>
					</tr>
				</thead>
				
				
				<tbody>
					{% for item in type_item.items %}
						<tr>
							<td data-title="Article">
								<input type="text" id="name-item-{{item.id}}" value="{{item.name}}">
							</td>
							{% if type_item.type == false %}
								<td data-title="Quantité">
									<input type="text" id="quantity-item-{{item.id}}" value="{{item.quantity}}">
								</td>
								<td data-title="En stock">
									<input type="text" id="stock-item-{{item.id}}" value="{{item.stock}}">
								</td>
								<td data-title="A acheter">
									{{item.quantity - item.stock}}
								</td>
								<td data-title="Prix unitaire">
									<input type="text" id="price-item-{{item.id}}" value="{{item.price}}">
								</td>
							{% endif %}
							<td data-title="Prix total">
								{{item.price * (item.quantity - item.stock)}}
							</td>
							{% if type_item.type == false %}
								<td data-title="Consommé">
									<input type="text" id="consummate-item-{{item.id}}" value="{{item.consummate}}">
								</td>
								<td data-title="Acheté">
									<input type="checkbox" {% if item.bought %} checked {%endif%}/>
								</td>
							{% endif %}
							<td data-title="Supprimer">X</td>
						</tr>
					{% endfor %}						
				</tbody>
			</table>
			<span id="legend"> * Données modifiables. Cliquez pour modifier.</span>
			<div class="col-md-2 pull-right add-item"><button data-toggle="modal" data-target=".addItemModal">Ajouter un article</button></div>
			
		</div>
	</section>
{% endfor %}


<script>
		(function() {
			[].slice.call( document.querySelectorAll( '.tabs' ) ).forEach( function( el ) {
				new CBPFWTabs( el );
			});
		})();

</script>
    <script>getListInflow({{module.id}});</script>
    <script>getListExpense({{module.id}});</script>
    <script>budget();</script>