{% extends 'PlanItEventBundle::layout.html.twig' %}
{% block content %}
	<div id="content_general_event" class="container">
		<div class="row" id="title">
			<div class="col-md-10 col-sm-9 col-xs-8" > <h1>{{ event.name }} </h1></div>
			<div class="col-md-2 col-sm-3 col-xs-4 pull-right">
                <button data-toggle="modal" data-target=".updateEventModal" data-type="">{{'update_event'|trans}}</button>
            </div>
		</div>

		<div class="row" id="separator">
			<div class="col-md-12"> </div>
		</div>
		<div class="modal fade modal-ok" id="okModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
		    <div class="modal-dialog">
		        <div class="modal-content">
		        	OK
		        </div>
		    </div>
		</div>
		<div class="row">
			<div class="col-md-4 descr_event" id="description">
					<img src="/images/event/events_pictures/{{event.image}}"/> 
					<p>{{event.description}} </p>
			</div>
			<div class="col-md-4"> 
				<div id="pie_chart"></div>
			</div>
			<div class="col-md-4" id="infos"> 
				<div class="info_dte">
					<img src="/images/event/info_dte_zzz.png" /> 
					<p> {{'nb_dodos'|trans}} </br> <span> {{'J'| trans}}{{ event.beginDate | offsetDate() }}</span> </p>
				</div>
				<div class="info_dte">
					<img src="/images/event/info_dte_invite.png" /> 
					<p> {{'nb_guests'|trans}} </br> <span>{{nbGuests}}</span> </p>
				</div>
				<div class="info_dte info_color" id="balance">
					{% if balance == "Empty" %}
						<p class="benef" data-placement="top" data-original-title="Ajoutez un module BUDGET"> {{'earnings'|trans}} </br> <span> {{'not_calculated'|trans}}</span> </p>
					{% else %}
						<p class="benef" data-placement="top" data-original-title="(Apport personnel + Apports) - Dépenses"> {{'earnings'|trans}} </br> <span>{{ balance }} €</span> </p>
					{% endif %}
						
				</div>
			</div>
		</div>

		<div class="row" id="mes_modules">
			<div class="col-md-12">{{'my_modules'|trans}}</div>
		</div>
		{% for message in app.session.flashbag.get('errors') %}
	    	<p>{{ message }}</p>
	    {% endfor %}
		<div class="row">
			<div id="modules">
				{% for module in event.modules %}				
					<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 module" id="module-{{module.id}}">
						<div id="module_{{module.inttype}}" class="module_button">								
                            <div class="delete_module" data-toggle="modal" data-target=".deleteModuleModal" data-name="{{module.name}}" data-id="{{module.id}}"></div>   
                            <a href="{{ path('PlanItModuleBundle_module', { 'event_id': event.id, 'module_id':module.id }) }}">
								<img src="/images/event/pictos_modules/picto_{{module.inttype}}.png" /> 	
								<p>{{module.name|trans}}</p> 
							</a>   	
						</div>	
					</div>
				{% endfor %}
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 module">	
				<div id="ajout_module" class="module_button" data-toggle="modal" data-target="#basicModal"> 
		    		<p>+</p> 
				</div>     		
			</div>
			<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
		        <div class="modal-dialog">
		            <div class="modal-content">
		                <div class="modal-header">
		                <button id="close-modal" type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		                <h4 class="modal-title" id="myModalLabel">{{'add_module'|trans}}</h4>
		                </div>
		                <div class="modal-body">
						<div id="form_container">
							<div id="select-type">
								<select>
									<option value=""> {{'choose_module'|trans}} </option>
									{% for module in notUsesModules %}
										<option value="{{module.inttype}}"> {{module.name|trans}} </option>
									{% endfor %}
								</select>
							</div>
							<div id="form-container"></div>
						</div>
						</div>
		            </div>
		      </div>
		    </div>
		    <div class="modal updateEventModal fade" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
		        <div class="modal-dialog">
		            <div class="modal-content">
		                <div class="modal-header">
		                <button id="close-modal" type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		                <h4 class="modal-title" id="myModalLabel">{{'update_event'|trans}}</h4>
		                </div>
		                <div class="modal-body">
		                	{{ render(controller('PlanItEventBundle:Event:updateform', { 'event_id' : event.id } ))}}
						</div>
		            </div>
		        </div>
		    </div>
		    <div class="modal fade deleteModuleModal validate" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel_deleteModule"></h4>
                    </div>
                    <div class="modal-body row">
                        <button id="delete_confirm_module" class="btn btn-default col-md-6"> {{'yes'|trans}} </button>
                        <button id="delete_cancel" class="btn btn-default" class ="col-md-6" data-dismiss="modal"> {{'no'|trans}} </button>

                    </div>
                </div>
          </div>
        </div>
		</div>
    </div>
    
{% endblock %}

{% block javascripts %}
    {{ parent() }} <!-- pour ne pas effacer les autres feuilles de style -->
    {% javascripts '@PlanItEventBundle/Resources/public/js/api.js'
    '@PlanItEventBundle/Resources/public/js/chart.js' %}
	      <script language="javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
	<script>events();</script>
	<script>
		$('.benef').tooltip();
		 if( parseInt($("#balance p span").text()) > 0 ){
			$("#balance").addClass("positif");
		}
		else if ( parseInt($("#balance p span").text()) < 0 ){
			$("#balance").addClass("negatif");
		}
	</script>
	<script>
	    $('#select-type select').change(function(event) {
	        $.get('/app_dev.php/{{ app.request.locale }}/event/form', {type: $(this).val(), event_id :{{event.id}}}, function(data) {
	            $('#form-container').html(data);
	        });
	    });
	</script>
{% endblock %}