{% extends 'PlanItPlaceBundle::layout.html.twig' %}

{% block content %}

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<div class="container">
	<div class="row" id="title">
        <div class="col-md-10"> <h1>{{'place'|trans}}</h1> </div>
        <div class="col-md-2 pull-right bt_place">
            <button data-toggle="modal" data-target=".updateModuleModal" data-type="">{{'update_module'|trans}}</button>
        </div>
    </div>

	<div class="row" id="separator">
		<div class="col-md-12"> </div>
	</div>
	<div class="modal fade modal-ok" id="okModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            	<img src="/images/modal-ok.png"/>
                Modifications enregistrées	
            </div>
        </div>
    </div>
	{% for message in app.session.flashbag.get('errors') %}
        <p>{{ message }}</p>
    {% endfor %}
	{{ render(controller('PlanItPlaceBundle:Page:updatemodule', { 'module_id' : module.id } ))}}
	<div class="row">
        <div class="col-md-3 bt_place"><button data-toggle="modal" data-target=".addPlaceModal" class="col-md-3">{{'add_place'|trans}}</button></div>
    </div>
	{% if module.places is empty %}
		<p class="empty_module">{{'empty_module'|trans}}</p>
	{% else %}
	<div class="row list" id="list">
		{% for place in module.places%}
		<div id="place-{{place.id}}" class="place">
			<div class="div-checkbox">
				<input type="checkbox" class="check" id="check-{{place.id}}" onClick="chosePlace({{place.id}})" {% if place.state == 1 %} checked {% endif %}>
			</div>
			<div id="head_list" class="head-list accordion-head {% if place.state == 1 %} checked {% else %} nochecked {% endif %}">	
				<div class="name"><input type="text" id="name-place-{{place.id}}" onblur="updatePlace({{place.id}})" value="{{place.name}}"></div>
			    <div class="pull-right delete_place" onclick="showModalDeletePlace({{place.id}}, '{{place.name}}')"></div> 
			    <div class="price"><input type="text" class="short_input" id="price-place-{{place.id}}" onblur="updatePlace({{place.id}})" value="{{place.price}}">€</div>
			</div>
			<div class="accordion-body">
			    <div class="labels row">
			    	<div class="col-lg-3 col-md-12 col-sm-12 img_place">
			    		<div class="container-img-place">
				    		{% if place.image != null %}
				    			<img src="/images/place/places_pictures/{{place.image}}" />
				    		{% else %}
				    			<img src="/images/no-image.jpg"/>
				    		{% endif %}
			    		</div>
							<div class="bt_place">
			                    <button data-toggle="modal" id="bt_img" data-target=".updateImageModal" data-id="{{place.id}}">{{'update_image'|trans}}</button> 
			                </div>
			        </div>
			    	<div class="col-lg-4 col-md-6 col-sm-12" id="infos">
			        	<p><span class="label_descr">{{'address'|trans}}</span> : <input type="text" id="address-place-{{place.id}}" onblur="updatePlace({{place.id}})" value="{{place.address}}"></p>
			        	<p><span class="label_descr">{{'capacity'|trans}}</span> : <input type="text" class="short_input" id="capacity-place-{{place.id}}" onblur="updatePlace({{place.id}})" value="{{place.capacity}}"></p>
			        	<p><span class="label_descr">{{'distance'|trans}}</span> : <input type="text" class="short_input" id="distance-place-{{place.id}}" onblur="updatePlace({{place.id}})" value="{{place.distance}}">km</p>
			        	<p><span class="label_descr">{{'tel'|trans}}</span> : <input type="text" id="tel-place-{{place.id}}" onblur="updatePlace({{place.id}})" value="{{place.tel}}"></p>
			        	<p><span class="label_descr">{{'website'|trans}}</span> : <input type="text" id="website-place-{{place.id}}" onblur="updatePlace({{place.id}})" value="{{place.website}}"> </p>
			        	<p><span class="label_descr">{{'remark'|trans}}</span> : <input type="text" id="remark-place-{{place.id}}" onblur="updatePlace({{place.id}})" value="{{place.remark}}"> </p>
			        	<p id="p-state-place-{{place.id}}"><span class="label_descr">{{'state'|trans}}</span> : 
			        		{% if place.state == 1 %}
			        			<span class="accepted"> {{'accepted'|trans}} </span>
			        			<select id="state-place-{{place.id}}" style="display:none" onchange="updatePlace({{place.id}})">
				        			<option value="0" {% if place.state == 0 %} selected {% endif %}>{{'refused'|trans}}</option>
				        			<option value="2" {% if place.state == 2 %} selected {% endif %}>{{'contacted'|trans}}</option>
				        			<option value="3" {% if place.state == 3 %} selected {% endif %}>{{'tocontact'|trans}}</option>
				        		</select>
			        		{% else %}
				        		<select id="state-place-{{place.id}}" onchange="updatePlace({{place.id}})">
				        			<option value="0" {% if place.state == 0 %} selected {% endif %}>{{'refused'|trans}}</option>
				        			<option value="2" {% if place.state == 2 %} selected {% endif %}>{{'contacted'|trans}}</option>
				        			<option value="3" {% if place.state == 3 %} selected {% endif %}>{{'tocontact'|trans}}</option>
				        		</select>
			        		{% endif %}
			        	</p>
			        	<p>
			        		<span class="label_descr">{{'contract'|trans}}</span> 
			        		{% if place.contract %}
				        		<a target="_blank" href="/files/place/contracts/{{place.contract}}">
				        			{{place.contract}}
				        		</a>
				        		<div class="bt_place">
				                    <button data-toggle="modal" id="modify_contract" data-target=".updateContractModal" data-id="{{place.id}}">{{'update_contract'|trans}}</button> 
				                </div>
			        		{% else %}
			        			<span>Aucun contrat</span>
			        			<div class="bt_place">
				                    <button data-toggle="modal" id="modify_contract" data-target=".updateContractModal" data-id="{{place.id}}">{{'add_contract'|trans}}</button> 
				                </div>
			        		{% endif %} 
			        		
			                
			        	</p>
			    	</div>
			    	<div class="col-lg-5 col-md-6 col-sm-12 map_canvas" id="map_canvas_{{place.id}}">
			    	</div>
			    </div>

			</div>
			{% endfor %}
		</div>
	{% endif %}
	<div class="modal fade deletePlaceModal validate" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
	            <button id="close-modal" type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
	            <h4 class="modal-title" id="myModalLabel_deletePlace"></h4>
	            </div>
	            <div class="modal-body row">
	                <button id="delete_confirm_place" class="btn btn-default col-md-6"> {{'yes'|trans}} </button>
	                <button id="delete_cancel" class="btn btn-default" class ="col-md-6" data-dismiss="modal"> {{'no'|trans}} </button>

	            </div>
	        </div>
	  </div>
	</div>
     {{ render(controller('PlanItPlaceBundle:Place:form', { 'module_id' : module.id } ))}}
     {{ render(controller('PlanItPlaceBundle:Place:contract', { 'module_id' : module.id } ))}}
     {{ render(controller('PlanItPlaceBundle:Place:image', { 'module_id' : module.id } ))}}

	
	</section>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }} <!-- pour ne pas effacer les autres feuilles de style -->
    <script>accordeonPlace();</script>
    <script>getPlaces({{module.id}});</script>
    <script>places();</script>
{% endblock %}
