{% extends 'PlanItPlaceBundle::layout.html.twig' %}

{% block content %}

 <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<div class="container">
	<div class="row" id="title">
        <div class="col-md-12" > <h1>Lieu</h1> </div>
    </div>

	<div class="row" id="separator">
		<div class="col-md-12"> </div>
	</div>
	<section>

	<div class="row">
        <div class="col-md-3 bt_place"><button data-toggle="modal" data-target=".addPlaceModal" class="col-md-3">{{'add_place'|trans}}</button></div>
    </div>

	<div class="row list" id="list">
		{% for place in module.places%}
		<div>
			<input type="radio" class="check" id="check" onClick="chosePlace({{place.id}})" {% if place.state == 1 %} checked {% endif %}>
		</div>
		<div id="head_list" class="head-list accordion-head {% if place.state == 1 %} checked {% endif %}">	
			<div class="name"><input type="text" id="name-place-{{place.id}}" onblur="updatePlace({{place.id}})" value="{{place.name}}"></div>
		    <div class="price"><input type="text" id="price-place-{{place.id}}" onblur="updatePlace({{place.id}})" value="{{place.price}}">€</div>
		    <button onclick="deletePlace({{place.id}})">X</button>
		</div>
		<div class="accordion-body">
		    <div class="labels row">
		    	<div class="col-lg-3 col-md-12 col-sm-12 img_place"> </div>
		    	<div class="col-lg-4 col-md-6 col-sm-12" id="infos">
		        	<p><span class="label_descr">{{'address'|trans}}</span> : <input type="text" id="address-place-{{place.id}}" onblur="updatePlace({{place.id}})" value="{{place.address}}"></p>
		        	<p><span class="label_descr">{{'capacity'|trans}}</span> : <input type="text" id="capacity-place-{{place.id}}" onblur="updatePlace({{place.id}})" value="{{place.capacity}}"></p>
		        	<p><span class="label_descr">{{'distance'|trans}}</span> : <input type="text" id="distance-place-{{place.id}}" onblur="updatePlace({{place.id}})" value="{{place.distance}}">km</p>
		        	<p><span class="label_descr">{{'tel'|trans}}</span> : <input type="text" id="tel-place-{{place.id}}" onblur="updatePlace({{place.id}})" value="{{place.tel}}"></p>
		        	<p><span class="label_descr">{{'website'|trans}}</span> : <input type="text" id="website-place-{{place.id}}" onblur="updatePlace({{place.id}})" value="{{place.website}}"> </p>
		        	<p><span class="label_descr">{{'remark'|trans}}</span> : <input type="text" id="remark-place-{{place.id}}" onblur="updatePlace({{place.id}})" value="{{place.remark}}"> </p>
		        	<p><span class="label_descr">{{'state'|trans}}</span> : 
		        		<select id="state-place-{{place.id}}" onchange="updatePlace({{place.id}})">
		        			<option value="0" {% if place.state == 0 %} selected {% endif %}>{{'refused'|trans}}</option>
		        			<option value="2" {% if place.state == 2 %} selected {% endif %}>{{'contacted'|trans}}</option>
		        			<option value="1" {% if place.state == 1 %} selected {% endif %}>{{'accepted'|trans}}</option>
		        		</select>
		        	</p>
		        	<p><span class="label_descr">{{'contract'|trans}}</span> : {{place.contract}}
		                <div class="bt_place">
		                    <button data-toggle="modal" data-target=".updateContractModal" data-id="{{place.id}}">{{'update_contract'|trans}}</button> 
		                </div>
		        	</p>
		    	</div>
		    	<div class="col-lg-5 col-md-6 col-sm-12" id="map_canvas_{{place.id}}">
		    	</div>

		    </div>
		</div>
		{% endfor %}
	</div>
     {{ render(controller('PlanItPlaceBundle:Place:form', { 'module_id' : module.id } ))}}
     {{ render(controller('PlanItPlaceBundle:Place:contract', { 'module_id' : module.id } ))}}

	
	</section>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }} <!-- pour ne pas effacer les autres feuilles de style -->
    <script>accordeonPlace();</script>
    <script>initializeMap();</script>
    <script>places();</script>
{% endblock %}
