{% extends 'PlanItGuestsBundle::layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }} <!-- pour ne pas effacer les autres feuilles de style -->
    {% stylesheets 
    '@PlanItGuestsBundle/Resources/public/css/*.scss' 
    filter="compass" %}
	      <link rel="stylesheet" media="screen" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block content %}
	<section id="module_content">
	   <div class="container guest-module">
            <div class="row" id="title">
                <!--Template title.html.twig -->
            </div>

            <div class="row" id="separator">
                <div class="col-md-12"> </div>
            </div>
            
            {{ render(controller('PlanItGuestsBundle:TypeGuest:form', { 'module_id' : module_id } ))}}
            <div class="row">
                <div class="col-md-3"><button data-toggle="modal" data-target=".addTypeGuestModal">Ajouter un type d'invité</button></div>
                <div class="col-md-3"><button>Ajouter un mode de paiement</button></div>
                <div class="col-md-2 col-md-offset-4" id="checkbox_payable">                  
                    <!--Template payable.html.twig -->
                </div>
            </div>
                 {{ render(controller('PlanItGuestsBundle:Guest:form', { 'module_id' : module_id } ))}}          
            <div id="guests_list">
                <!--Template guests.html.twig -->
                
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }} <!-- pour ne pas effacer les autres feuilles de style -->
    <script> getModule({{module_id}}); </script>
{#     {% javascripts '@PlanItGuestsBundle/Resources/public/js/*.js' %}
	      <script language="javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %} #}
{% endblock %}

