{% twig_js name="guests_list" %}
{% for type in typeGuests %}
    {# Tête de liste #}
    <div class="row list" >
        <div class="head-list accordion-head">
            <form action="">
                <select onchange="multipleAction()" name="actions" id="actions">
                        <option value="none">Action</option>
                        {% if moduleGuestType == false %}
                            <option value="send">Envoyer</option>
                        {% endif %}
                        <option value="delete">Supprimer</option>
                </select>
                </form>
            <div class="name">{{type.label}}</div>
            <div class="price">{{type.price}}€/pers</div>
        </div>
        {# Labels #}
        <div class="accordion-body">
            <div class="labels row">
                <form action="" id="select-all" class="col-md-1">
                    <input type="checkbox">
                </form>
                <p class="name col-md-1">Prénom</p>
                <p class="name col-md-1">Nom</p>
                <p class="email col-md-3">Email</p>
                <p class="confirmed col-md-1">Confirmé</p>
                <p class="payed col-md-1">Payé</p>
                <p class="payment col-md-2">Mode de paiement</p>
                {% if moduleGuestType == false %}
                    <p class="send col-md-1">Envoyer</p>
                    <p class="delete col-md-1">Supprimer</p>
                {% elseif moduleGuestType == true %}
                    <p class="delete col-md-2">Supprimer</p>
                {% endif %}
            </div>
            {# Données #}
            
                
            
            {% for guest in guests %}
                {% if guest.type_guest.id == type.id %}
                    <div class="row-list row">
                        <form action="" id="select-field" class="col-md-1">
                            <input name="checkbox-action" id="{{guest.id}}" type="checkbox">
                        </form>
                        <input type="hidden" id="type_guest-{{guest.id}}" value="{{guest.type_guest.id}}">
                        <div class="firstname col-md-1"><input onblur="updateGuest({{guest.id}}, 'firstname')" type="text" id="firstname-{{guest.id}}" value="{{guest.firstname}}"></div>
                        <div class="lastname col-md-2"><input onblur="updateGuest({{guest.id}}, 'lastname')" type="text" id="lastname-{{guest.id}}" value="{{guest.lastname}}"></div>
                        <div class="email col-md-2"><input onblur="updateGuest({{guest.id}}, 'email')" type="text" id="email-{{guest.id}}" value="{{guest.email}}"></div>
                        <div class="confirmed col-md-1"><div onclick="updateGuest({{guest.id}}, 'confirmed')" id="confirmed-{{guest.id}}" data-type="{{guest.confirmed}}" class="light state-{{guest.confirmed}}" data-placement="top" data-original-title="Cliquez pour modifier"></div></div>
                        <div class="payed col-md-1">
                                <div onclick="updateGuest({{guest.id}}, 'payed')" id="payed-{{guest.id}}" data-type="{{guest.payed}}" class="light state-{{guest.payed}}" data-placement="top" data-original-title="Cliquez pour modifier"></div>
                        </div>
                        <div class="payment col-md-2">
                            <form action="" id="payment">
                                {% if payment_means is empty %}
                                    <span> Aucun moyen de paiement </span>
                                {%else %}
                                <select id="paymentmean-{{guest.id}}" onchange="updateGuest({{guest.id}}, 'paymentmean')" name="payment">
                                    {% for payment in payment_means %}
                                        <option value="{{payment.id}}" {% if guest.paymentmean.id == payment.id %} selected="selected" {% endif %}>{{payment.label}}</option>
                                    {% endfor %}
                                </select>
                                {% endif %}
                            </form>
                        </div>
                        {% if moduleGuestType == false %}
                            <div {% if not guest.sent %} onclick="sendMail({{guest.id}})" {% endif %} id="sent-{{guest.id}}" data-type="{{guest.sent}}" class="send sent-{{guest.sent}} col-md-1" data-placement="top" data-original-title="Vous avez déjà envoyé cette invitation"><div class="picto"></div></div>
                            <div class="delete col-md-1"><div class="picto" data-toggle="modal" data-target=".deleteGuestModal" data-type="{{guest.id}}"></div></div>
                        {% elseif moduleGuestType == true %}
                            <div class="delete col-md-2"><div class="picto" data-toggle="modal" data-target=".deleteGuestModal" data-type="{{guest.id}}"></div></div>
                        {% endif %}
                    </div>
            {% endif %}
        {% endfor %}
    </div>

    {% if moduleGuestType == false %}
        <div class="col-md-2 pull-right add-guest"><button data-toggle="modal" data-target=".addGuestModal" data-type="{{type.id}}">Ajouter un invité</button></div>
    {% endif %}
    
    </div>
{% endfor %}

<div class="modal fade deleteGuestModal validate" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Voulez vous vraiment supprimer cet invité?</h4>
            </div>
            <div class="modal-body row">
                <button id="delete_confirm" class="btn btn-default col-md-6"> Oui </button>
                <button id="delete_cancel" class="btn btn-default" class ="col-md-6" data-dismiss="modal"> Non </button>

            </div>
        </div>
  </div>
</div>

<script>guests();</script>


