{% extends 'PlanItTodoBundle::layout.html.twig' %}

{% block content %}
<div class="container">
	<div class="row" id="title">
        <div class="col-md-12" > <h1>TODO</h1> </div>
    </div>

	<div class="row" id="separator">
		<div class="col-md-12"> </div>
	</div>

	<div class="row buttons">
        <div class="col-md-3 bt_todo"><button data-toggle="modal" data-target=".addListModal">{{'add_tasklist'|trans}}</button></div>
        <div class="col-md-3 bt_todo"><a href="{{ path('PlanItTodoBundle_pdf', { 'module_id': module.id }) }}">{{'print'|trans}}</a></div>


        <!--<div class="col-md-3 bt_todo"><button>Valider</button></div>-->
    </div>
     {{ render(controller('PlanItTodoBundle:Item:formlist', { 'module_id' : module.id } ))}}
     {{ render(controller('PlanItTodoBundle:Item:form', { 'module_id' : module.id } ))}}

		    {% for list in module.lists %}
		    <div>
		    	<div><p> {{list.name}} </p></div>
		    	<ul class="sortable" id="todo-list">
				    {% for item in list.items %}
						{% if not item.checked %}
							<li>
								<div class="row">
									<div class="col-md-12 todo">
										{{item.content}} <input type="checkbox" id="checkbox-{{item.id}}" name="todo1" onClick="changeChecked({{item.id}})"> 
									</div>
								</div>			
							</li>
						{% endif %}
					{% endfor %}

					{% for item in list.items %}
						{% if item.checked %} 
							<li>
								<div class="row">
									<div class="col-md-12 todo checked">
										{{item.content}} <input type="checkbox" id="checkbox-{{item.id}}" checked name="todo1" onClick="changeChecked({{item.id}})"> 
									</div>
								</div>			
							</li>
						{% endif %}
					{% endfor %}
				</ul>
				<div class="col-md-3 bt_todo pull-right add-item"><button data-toggle="modal" data-list="{{list.id}}" data-target=".addItemModal">{{'add_task'|trans}}</button></div>
			</div>
			{% endfor %}
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }} <!-- pour ne pas effacer les autres feuilles de style -->
   	<script>
	    $('.sortable').sortable({
	    	items: ':not(.disabled)'
		});
	</script>
	<script>todo();</script>
{% endblock %}
